<div class="container">
    <div class="col-sm-8">
        <QuotesUpdate @store={{this.model.store}}/>
        <ListQuotes @quotes={{this.model.quotes}}/>
    </div>
    <ProfileDetails @user={{this.model.user}}/>
</div>