<h3>Books</h3>

<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.model as |book|}}
            <tr>
                <td>{{book.title}}</td>
                <td>{{book.author.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>