<h3>Libraries</h3>

<div class="well">
    <ul class="nav nav-pills">
        <li class="nav-link">
            <LinkTo @route='libraries.index'>List All</LinkTo>
        </li>
        <li class="nav-link">
            <LinkTo @route='libraries.new'>Add New</LinkTo>
        </li>
    </ul>
</div>
<br/><br/>
{{outlet}}